﻿@model IEnumerable<Trips.Models.Trip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reisid</h2>

<p>
    @*@Html.ActionLink("Sisesta uus reis", "Create")*@
</p>
<table class="table">
    <tr>

               
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
           @*@Html.DisplayNameFor(model => model.HousingExpenses)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.TransportExpenses)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.OtherExpenses)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.HousingExpenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportExpenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherExpenses)
        </td>*@
        <td>
            @Html.ActionLink("Lisa uus","../trips/Create/", new { id = item.Id }) |
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detailne vaade", "Details", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
