﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trips</h1>
    <p class="lead"> Reisikulude haldamise süsteem </p>

    <p>
      @*
        return </ a > &thinsp;< a href = "/trips" class="btn btn-primary btn-lg">Lisa reis &raquo;</a>;*@


        @if (User.IsInRole("Raamatupidaja") || User.IsInRole("Töötaja") || User.IsInRole("Juhataja"))
        {
            <li>@Html.ActionLink("Reisid", "Index", "Trips")</li>
            <p></p>
            <li>@Html.ActionLink("Ajalugu/Logi", "Index", "ActionLogs")</li>
        }
        else
        {
            <li> @Html.ActionLink("Logi sisse", "Login", "Account")</li>
        }


    </p>

    

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vali IT</h2>
        <p>
            See rakendus on teostatud grupitööna "Vali IT" projekti raames
        </p>
        <p><a class="btn btn-default" href="http://vali-it.ee/">Uuri Lähemalt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IT Koolitus</h2>
        <p>Koolituse läbiviijaks oli IT Koolitus. Rohkem informatsiooni IT Koolituse kohta leiad -></p>
        <p><a class="btn btn-default" href="https://koolitus.ee/et/">Vaata &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Develly OÜ</h2>
        <p>Sponsoreeris teadmistega. Teevad lahedaid rakendusi, vaata ka sina järele!</p>
        <p><a class="btn btn-default" href="http://develly.ee/">Vaatan &raquo;</a></p>
    </div>
</div>