﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
    Lõõtsa 8 Tallinn Vali-IT<br />
    Reisikulud<br />
    <abbr title="Phone">P:</abbr>
    +372 654654
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Trips@example.com">Trips@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing.Trips@example.com">Marketing.Trips@example.com</a>
</address>