﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trips</h1>
    <p class="lead"> Trips: <br /> Reisi lisamiseks sisenege kasutajana .</p>
    <p><a href="/people" class="btn btn-primary btn-lg">Sisene Töötajana &raquo;
        </a>&thinsp;<a href="/people" class="btn btn-primary btn-lg">Sisene raamatupidajana &raquo;
        </a>&thinsp;<a href="/people" class="btn btn-primary btn-lg">Sisene juhatajana &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vali IT</h2>
        <p>
            See rakendus on teostatud grupitööna "Vali IT" projekti raames
        </p>
        <p><a class="btn btn-default" href="http://vali-it.ee/">Uuri Lähemalt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IT Koolitus</h2>
        <p>Koolituse läbiviijaks oli IT Koolitus. Rohkem informatsiooni IT Koolituse kohta leiad -></p>
        <p><a class="btn btn-default" href="https://koolitus.ee/et/">Vaata &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Develly OÜ</h2>
        <p>Sponsoreeris teadmistega. Teevad lahedaid rakendusi, vaata ka sina järele!</p>
        <p><a class="btn btn-default" href="http://develly.ee/">Vaatan &raquo;</a></p>
    </div>
</div>