﻿@model Trips.Models.Trip

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kustuta</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousingExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            <hr />
            @Html.ActionLink("Tagasi", "Index", "Trip", new { @class = "btn btn-default btn-large" })
        </div>
    }
</div>
