﻿@model Trips.Models.Trip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detailne aruanne</h2>

<div>
    <dd>
        @Html.DisplayNameFor(model => model.File)

        @if (Model.File != null && Model.FileName != null)
        {
            @Html.ActionLink(Model.FileName, "Download", new { id = Model.Id })
            @*<img src='@Url.Action("Show", "Trips", new { id = Model.Id })' />*@
        }
    </dd>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousingExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overnights)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overnights)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyAllowances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyAllowances)
        </dd>               

    </dl>
</div>

<p>
    @if (User.IsInRole("Töötaja"))
    {
        if (Model.TripStatusId == 1)
        {
            <li>
               @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-large" })
            </li>
        }

    }
    <hr />
    @Html.ActionLink("Tagasi", "Index", "Trip", new { @class = "btn btn-default btn-large" })
    
</p>
