﻿
@model PagedList.IPagedList<Trips.Models.Trip>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Trips";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 >Reisid</h3>

<p>
    @if (User.IsInRole("Töötaja"))
    {
        <li>
            @Html.ActionLink("Sisesta uus reis", "Create")
        </li>
    }
    @using (Html.BeginForm("Index", "Trips", FormMethod.Get))
    {

        //Nime järgi sorteerimine
    <p>
        Otsi nime järgi: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}

    <table class="table">
        <tr>
            @*tabeli sorteerimine nime ja kuupäeva järgi*@

            <th>
                Eesnimi
            </th>
            <th>
                @Html.ActionLink("Perekonnanimi", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Sihtkoht
            </th>
            <th>
                @Html.ActionLink("Reisi algus", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Reisi lõpp
            </th>
            <th>
                Staatus / Olek
            </th>

            <th>
                Manus
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStatus.Name)
                </td>
                <td>
                    @if (item.File != null)
                    {
                    <p>
                        Fail lisatud
                    </p>
                    }
                    
                </td>

                <td>
                    @* @Html.DisplayFor(modelItem => item.HousingExpenses)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransportExpenses)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherExpenses)
                        </td>*@
                <td>

                    @if (User.IsInRole("Töötaja"))
                    {
                        if (item.TripStatusId == 1)
                        {
                            <li>
                                @Html.ActionLink("Saada kinnitamiseks", "ChangeStatus", new { TripStatusId = 2, TripId = item.Id }) |
                                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                            </li>
                        }
                        else if (item.TripStatusId == 4)
                        {
                            <li>
                                @*Staatuse kiri: "Reis on Kinnitatud"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id }) 
                                <div class="col-md-10">
                                    @ViewBag.TripStatusName
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                @*Staatuse kiri: "Reis on edastatud kinnitmaiseks"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id }) 
                            </li>

                        }

                    }
                    else if (User.IsInRole("Juhataja"))
                    {
                        if (item.TripStatusId == 2)
                        {
                            <li>
                                @Html.ActionLink("Saada raamatupidajale", "ChangeStatus", new { TripStatusId = 3, TripId = item.Id }) |
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Saada ümbervormistamisele", "ChangeStatus", new { TripStatusId = 1, TripId = item.Id })
                            </li>
                        }
                        else if (item.TripStatusId == 3)
                        {
                            <li>
                                @*Staatuse kiri: "Reis on edastatud raamatupidamisele"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id })
                            </li>
                        }
                        else if (item.TripStatusId == 4)
                        {
                            <li>
                                @*Staatuse kiri: "Reis on Kinnitatud"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id })
                            </li>
                        }
                        else
                        {
                            <li>
                                @*Staatuse kiri: "Töötaja ei ole veel reisi lisanud kinnitamiseks"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id })
                            </li>

                        }

                    }
                    else if (User.IsInRole("Raamatupidaja"))
                    {

                        if (item.TripStatusId == 3)
                        {
                            <li>
                                @Html.ActionLink("Saada maksmisele", "ChangeStatus", new { TripStatusId = 4, TripId = item.Id }) |
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Saada tagasi", "ChangeStatus", new { TripStatusId = 2, TripId = item.Id })
                            </li>

                        }
                        else if (item.TripStatusId == 4)
                        {
                            <li>
                                @*Staatuse kiri: "Reis on Kinnitatud"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id })
                            </li>
                        }
                        else
                        {
                            <li>
                                @*Staatuse kiri: "Juht ei ole veel kinnitanud"*@
                                @Html.ActionLink("Detailne aruanne", "Details", new { id = item.Id })
                            </li>

                        }

                    }

                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
